body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
/* header */
.header {
    background: #1f2937;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-around;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}
.links {
    display: flex;
    gap: 22px;
    list-style-type: none;
    margin: 0;
    margin-bottom: 100px;
    color: #e5e7eb;
    font-size: 18px;
}
/* image placeholder and text */
.headercontent {
    color: #f9faf8;
    background: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.headercontentleft,
.headercontentright {
    width: 650px;
    height: 300px;
}

.headercontentright {
    background: #6d747e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
}

.headercontentleft {
    box-sizing: border-box;
    padding-right: 153px;
    margin-left: 300px;
}

.headertext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

.signup {
    padding: 4px 32px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
/* center part with image placeholders and text */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding-bottom: 150px;
    padding-top: 50px;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 300px;
}
.box {
    margin-top: 32px;
    border: 5px solid royalblue;
    border-radius: 25px;
    flex: 1;
}
/* quote section */
.quotebox {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: #e5e7eb;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding: 150px 475px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quotesource {
    font-size: 24px;
    font-style: normal;
    color: #1f2937;
    font-weight: bold;
    margin-left: 600px;
}
/* call to action section */
.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.calltoaction {
    height: 125px;
    background: royalblue;
    border-radius: 10px;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px 0px;
    font-weight: bold;
}

.calltoaction .text {
    font-weight: normal;
}

.calltoaction button {
    border: 3px solid white;
    font-size: 20px;
}
/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    color: white;
    padding: 32px 0px;
    font-size: 14px;
}